<h2>Celebrities</h2>
<form action="/celebrities/create" method="POST">
<div>
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name" />
  <label for="occupation" class="form-label">Occupation</label>
  <input type="text" class="form-control" id="occupation" name="occupation" />
  <label for="catchPhrase" class="form-label">Catch Phrase</label>
  <input type="text" class="form-control" id="catchPhrase" name="catchPhrase" />
</div>
  <button type="submit" class="btn btn-primary">Create Celebrity</button>
</form>